$navButtonHoverColor: #EB7C21;
$navButtonHoverBackgroundColor: #1E3845;
$buttonHoverColor: #D9561C;
$buttonHoverBackgroundColor: white;
$titleColor: #0E242E;
$cvBackground: #F5F4F3;
$breakpointMobile: 768px;
$breakpointTablet: 1500px;
$breakpointDesktop: 1920px;