h6 {
    font-family: open sans;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.15px;
    color: $titleColor;
    text-align: center;
}

@media (max-width: $breakpointTablet) {
    h6 {
        font-size: 21px;
        letter-spacing: 0.15px;
    }
}

@media (max-width: $breakpointMobile) {
    h6 {
        letter-spacing: 0px;
    }
}