@mixin caption {
    font-family: Roboto;
    font-weight: normal;
    font-size: 15px;
    line-height: 23px;
    letter-spacing: 0.4px;
    text-align: center;
}

.caption {
    font-family: Roboto;
    font-weight: normal;
    font-size: 15px;
    line-height: 23px;
    letter-spacing: 0.4px;
    text-align: center;
}